@import '../../styles/variables.scss';
@import '../MainView/MainView.module.scss';
@import '../../styles/mixins.scss';

.detailedView {

    &__favouriteSection {
        @include death-star-background;
        color: $color-primary;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding: .8rem;
        border-radius: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__data {
        color: $color-primary;
        font-size: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: $bp-desktop) {

            display: grid;
            grid-template-columns: repeat(3, 33%);
            grid-template-rows: repeat(5, 20%);
            grid-gap: 1rem;
            
        }

        &_item {
            @include gradient-gold;
            margin: 1rem;
            padding: .8rem;
            border-bottom-left-radius: 2rem;
            width: 100%;

            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &_label {
            color: black;
            margin-right: 1rem;
        }

        &_list {
            color: $color-primary;
            list-style: none;
            text-align: center;
        }
    }

    &__fav {
        margin-left: 3rem;
        width: 3rem;
        height: 3rem;
    }

    &__films {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: rgb(10, 10, 10);

        @include gradient-silver;
        border-bottom-left-radius: 2rem;
        margin-top: 2rem;
        padding: .8rem;
        width: 100%;
        margin: 1rem;
    }

    &__fetched {
        color: black;
    }

    &__homepageButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}