@import '../../styles/variables.scss';

.pagesNav {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__numbers {
        width: 40%;
        margin: .2rem;
        color: $color-primary;
        font-family: Lato;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;

        
    @media only screen and (min-width: $bp-small) {
        font-weight: normal;
        font-size: 1.8rem;
    }
    }
}