@import '../../styles/variables.scss';

.mainView {
    background-color: $color-white-glass;
    margin-top: 3rem;
    padding: 2rem;
    width: 85%;

    &__pagesNav {
        width: 100%;

        display: flex;
        justify-content: center;
    }
}