//breakpoints for media
$bp-small: 45rem; //720px
$bp-medium: 56.25em; //900px

//colors
$color-black: black;
$color-grey: rgb(63, 63, 63);
$color-primary: #AA4586;
$color-primary-hover: #d392bc;
$color-primary-darker: #6d2f57;

$color-white-glass: rgba(255, 255, 255, 0.7);