//breakpoints for media
$bp-very-small: 28.12rem; //450px
$bp-small: 45rem; //720px
$bp-medium: 56.25em; //900px
$bp-desktop: 75rem; // 1200px

//colors
$color-black: black;
$color-grey: rgb(63, 63, 63);
$color-light-grey: rgb(179, 179, 179);
$color-primary: #ffdc18;
$color-primary-hover: #8f7a04;
$color-primary-darker: #6d2f57;

$color-white-glass: rgba(255, 255, 255, 0.5);
$color-black-glass: rgba(0, 0, 0, 0.9);